
.jamaica{
    height: 65px;
    width: 90%;
    background-color: lightgrey;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 20px;
}
.america {
    height: 500px;
    width: 80%;
    background-color: azure;
    margin: auto;
    margin-bottom: 15px;
}

.kenya {
    height: 400px;
    width: 80%;
    background-color: lightblue;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}


.kampala {
    height: 70px;
    width: 90%;
    background-color: lightgray;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.home {
    height: 60px;
    background-color: azure;
    font-size: xx-large;
    font-style: normal;
    color: black;
    margin-left: 15px;
    width: 100px;
}

.about {
    height: 60px;
    background-color: azure;
    font-size: xx-large;
    font-style: normal;
    color: black;
    margin-left: 15px;
    width: 100px;
}

.contact {
    height: 60px;
    background-color: azure;
    font-size: xx-large;
    font-style: normal;
    color: black;
    margin-left: 15px;
    width: 120px;
}

.canada {
    background-color: lightblue;
    width: 58%;
    height: 500px;
    float: left;
}

.jamaica {
    background-color: lightskyblue;
    width: 40%;
    height: 500px;
    float: right;
}

img {
    width: 100%;
    height: 500px;
}



















































































































































































































































































































































































































}